@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {
  --primary-color: #f8e0ff;
  --primary-color-darker: #a100ff;
  --secondary-color: #00c2c5;
  --secondary-color-darker: #00a8a7;

  --text-color: #000000;
  --text-color-darker: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poor Story", system-ui;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, var(--secondary-color), var(--primary-color));
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.todo {
  width: 100%;
  max-width: 550px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  border-radius: 20px;
}

.todo h2 {
  color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.todo h2 img {
  width: 50px;
  margin-left: auto;
  /* margin-left: 10px; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-color-darker);
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 5px;
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  padding: 16px 35px;
  background: var(--secondary-color);
  color: #ffffff;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 10px 40px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  position: relative;
  /* background-color: #ffb6b6; */
}

ul li::before {
  content: '';
  position: absolute;
  height: 26px;
  width: 26px;
  background-image: url('img/uncheck.png');
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 5px;
}

ul li.checked {
  color: #666;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url('img/check.png');
}

ul li span {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-image: url('img/cancell.png');
  background-size: cover;
  background-position: center;
  transition: all .2s ease;
}

ul li span:hover {
  transform: scale(1.1);
}